<header class="header-desktop">
    <div class="container">


        <div class="float-left my-3">
            <form class="form-header" action="" method="POST">
                <input class="au-input au-input--xl" type="text" name="search"
                       placeholder="What do you want to do?"/>
                <button class="au-btn--submit" type="submit">
                    <i class="zmdi zmdi-search"></i>
                </button>
            </form>
        </div>


        <div class="float-right my-3">
            <div class="account-wrap">
                <div class="account-item clearfix js-item-menu">
                    <div class="image">
                        <img src="/images/icon/profile_nav.png" alt="User 1"/>
                    </div>
                    <div class="content">
                        <a class="js-acc-btn user_full_name" href="#"></a>
                    </div>
                    <div class="account-dropdown js-dropdown">
                        <div class="info clearfix">
                            <div class="image">
                                <a href="#">
                                    <img src="/images/icon/profile_nav.png" alt="profile"/>
                                </a>
                            </div>
                            <div class="content">
                                <h5 class="name">
                                    <a href="#" class="user_full_name"> </a>
                                </h5>
                                <span class="email" id="user_email"></span>
                            </div>
                        </div>
                        <div class="account-dropdown__body">
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-account"></i>Account</a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="/new-intelli-device">
                                    <i class="zmdi zmdi-plus-box"></i>Add Device</a>
                            </div>
                        </div>

                        <div class="account-dropdown__footer">
                            <a onclick="clearCookies();">
                                <i class="zmdi zmdi-power"></i>Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>