<!DOCTYPE html>
<html lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Alerts</title>

    <% include partials/head_css.ejs %>

    <script>
        new WOW().init();
    </script>

</head>

<body class="animsition">
<div class="page-wrapper">

    <% include partials/sidemenu.ejs %>

    <!-- PAGE CONTAINER-->
    <div class="page-container">

        <% include partials/header_nav.ejs %>

        <!-- MAIN CONTENT-->
        <div class="main-content">

            <!---- Action First End (More Functionality can be added here, if we extend this project)----->

            <!--<br>-->
            <div class="container">

                <div class="col-lg-12 col-md-12">
                    <h2 class="title-1 m-b-25 animated fadeInDown">Your Alerts</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-12 shadow p-3 mb-5 bg-white rounded">

                                    <div id="action_buttons_section">

                                        <button id="button_create_alerts" class="btn btn-primary">Create Alerts
                                        </button>

                                        <div class="float-right">

                                            <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle button-shadow mx-2"
                                                        type="button"
                                                        id="menu_dropdown_action"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    Actions
                                                </button>

                                                <div class="dropdown-menu" aria-labelledby="menu_dropdown_action">
                                                    <a id="menu_button_delete_alarm" class="dropdown-item action_links"
                                                       href="#">Delete</a>
                                                    <a id="menu_button_edit_alarm" class="dropdown-item action_links"
                                                       href="#">Edit</a>
                                                    <a id="menu_button_enable_alarm" class="dropdown-item action_links"
                                                       href="#">Enable</a>
                                                    <a id="menu_button_disable_alarm" class="dropdown-item action_links"
                                                       href="#">Disable</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                    <div class="table-responsive-lg" style="text-align: center">
                                        <table class="table table-hover" id="table_alerts">
                                            <thead class="thead-light">
                                            <tr>

                                                <th scope="col">Name</th>
                                                <th scope="col">Attached To</th>
                                                <th scope="col">State</th>
                                                <th scope="col">Threshold(KWh)
                                                </th>
                                                <th scope="col">Activation Status</th>

                                            </tr>
                                            </thead>

                                            <tbody id="table_alerts_body">

                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

            </div>


            <!-- Modal  for  create alerts-->
            <div class="modal fade" id="modal_create_alert" tabindex="-1" role="dialog"
                 aria-labelledby="modal_create_alert_title" aria-hidden="true">

                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal_create_alert_title"> Create a new Alert
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="ml-5" id="modal_form_container">

                                <div class="form-group row">
                                    <label for="input_alarm_name"
                                           class="col-sm-4 col-form-label col-form-label-sm">Alert Name : </label>
                                    <div class="col-sm-6">
                                        <input type="text" id="input_alarm_name" class="form-control form-control-sm"
                                               placeholder="Ex. Home 50 Unit">
                                    </div>
                                </div>

                                <div class="form-group row ">
                                    <label for="attach_to"
                                           class="col-sm-4 col-form-label col-form-label-sm">Attach To : </label>
                                    <div class="col-sm-6">
                                        <select id="attach_to" class="form-control form-control-sm">
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input_alarm_sms_no"
                                           class="col-sm-4 col-form-label col-form-label-sm">Alert To : </label>
                                    <div class="col-sm-6">
                                        <input type="text" id="input_alarm_sms_no"
                                               class="form-control form-control-sm"
                                               oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                               onKeyDown="if(this.value.length===10 && event.keyCode!==8) return false;"
                                               placeholder="Mobile no.">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input_alarm_threshold_val"
                                           class="col-sm-4 col-form-label col-form-label-sm">Threshold Value : </label>
                                    <div class="col-sm-6">
                                        <input type="number" id="input_alarm_threshold_val"
                                               class="form-control form-control-sm"
                                               placeholder="Ex. 50">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="input_alarm_for_time"
                                           class="col-sm-4 col-form-label col-form-label-sm">For a time of </label>
                                    <div class="col-sm-3">
                                        <input type="number" id="input_alarm_for_time" min="1" max="10000"
                                               class="form-control form-control-sm"
                                               placeholder="">
                                    </div>

                                    <div class="col-sm-3">
                                        <select id="input_alarm_time_unit" class="form-control form-control-sm">
                                            <option value="month">Month</option>
                                            <option value="day"> Day</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="modal_button_close" type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Cancel
                            </button>
                            <button id="modal_button_create_alert" type="button" class="btn btn-primary">Create Alarm
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <% include partials/copyright.ejs %>
        </div>
        <!-- END MAIN CONTENT-->

    </div>
    <!-- END PAGE CONTAINER-->


</div>

<% include partials/js_bottom.ejs %>

<!-- Main JS-->
<!--<script src="../public/js/main.js"></script>-->
<!--Graphs Updater  -->
<script src="alerts.js"></script>

</body>
</html>
<!-- end document-->
