<!DOCTYPE html>
<html lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Billing Management</title>

    <% include partials/head_css.ejs %>

    <script>
        new WOW().init();
    </script>

</head>

<body class="animsition">
<div class="page-wrapper">

    <% include partials/sidemenu.ejs %>

    <!-- PAGE CONTAINER-->
    <div class="page-container">

        <% include partials/header_nav.ejs %>

        <!-- MAIN CONTENT-->
        <div class="main-content">

            <!---- Action First End (More Functionality can be added here, if we extend this project)----->
            <!--<br>-->

            <div class="container">

                <div class="col-lg-12 col-md-12">
                    <h2 class="title-1 m-b-25 animated fadeInDown">Billing Management</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-12 shadow p-3 mb-5 bg-white rounded">

                                    <div id="section_dropdown_select">

                                        <div class="float-left">

                                            <div class="form-group row">

                                                <label for="dropdown_device"
                                                       class="col-sm-1 mx-3 col-form-label">Device: </label>

                                                <div class="col-sm-4">
                                                    <select id="dropdown_device" class="form-control">
                                                    </select>
                                                </div>

                                                <label for="dropdown_date"
                                                       class="col-sm-1 mx-3 col-form-label">Date: </label>

                                                <div class="col-sm-4">
                                                    <select id="dropdown_date"
                                                            class="form-control">
                                                        <option>April 2019</option>
                                                        <option>March 2019</option>
                                                        <option>February 2019</option>
                                                        <option>January 2019</option>
                                                        <option>December 2018</option>
                                                    </select>
                                                </div>

                                            </div>

                                        </div>


                                        <div class="float-right">
                                            <button id="button_download_pdf" class="mx-2 btn btn-primary">Download
                                            </button>

                                            <button id="button_pay_bill" class="mx-2 btn btn-primary">Pay Bill</button>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--- Action Second Section End (More Functionality can be added here, if we extend this project)---->

            <% include partials/copyright.ejs %>

        </div>
    </div>

    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
</div>

<% include partials/js_bottom.ejs %>

<!-- Main JS-->
<!--<script src="../public/js/main.js"></script>-->
<!--Graphs Updater  -->
<script src="billing.js"></script>

</body>
</html>
<!-- end document-->
