<!DOCTYPE html>
<html lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Monitoring</title>

    <% include partials/head_css.ejs %>

    <script>
        new WOW().init();
    </script>

</head>

<body class="animsition">
<div class="page-wrapper">

    <% include partials/sidemenu.ejs %>

    <!-- PAGE CONTAINER-->
    <div class="page-container">

        <% include partials/header_nav.ejs %>

        <!-- MAIN CONTENT-->
        <div class="main-content">

            <!---- Action First End (More Functionality can be added here, if we extend this project)----->

            <!--<br>-->
            <div class="container" id="main_content_container">

                <div class="col-lg-12 col-md-12" id="table container">
                    <h2 class="title-1 m-b-25 animated fadeInDown">Your Devices</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-12 shadow p-3 mb-5 bg-white rounded">

                                    <div class="table-responsive-lg">
                                        <table class=" table table-md  table-bordered">
                                            <thead class="thead-light">
                                            <tr>
                                                <td>Name</td>
                                                <td>ID</td>
                                                <td>Today's Consumption (in KWh)</td>
                                                <td>Alerts</td>
                                                <td>Status</td>
                                                <td>Total Consumption (in KWh)</td>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            <tr>
                                                <td>
                                                    <div class="table-data__info">
                                                        <h6>Home</h6>
                                                    </div>
                                                </td>
                                                <td>78456598</td>
                                                <td>50</td>
                                                <td>3</td>
                                                <td>
                                                    <span class="role status-working">Working</span>
                                                </td>
                                                <td>557</td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    <div class="table-data__info">
                                                        <h6>Office</h6>
                                                    </div>
                                                </td>
                                                <td>74126985</td>
                                                <td>80</td>
                                                <td>1</td>
                                                <td>
                                                    <span class="role status-updating">Updating</span>
                                                </td>
                                                <td>834</td>

                                            </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div id="charts_container">
                    <h2 class="title-1 m-b-25 animated fadeInDown">Quick Analytics</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="au-card m-b-30">
                                <div class="au-card-inner">
                                    <h3 class="title-2 m-b-40">Usage Stats</h3>
                                    <canvas id="usagePieChart"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="au-card m-b-30">
                                <div class="au-card-inner">
                                    <h3 class="title-2 m-b-40">Expected Bill</h3>
                                    <canvas id="costBarChart"></canvas>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--- Action Second Section End (More Functionality can be added here, if we extend this project)---->

            <% include partials/copyright.ejs %>

        </div>
    </div>

    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
</div>

<% include partials/js_bottom.ejs %>

<!-- Main JS-->
<!--<script src="../public/js/main.js"></script>-->
<!--Graphs Updater  -->
<script src="graph.js"></script>

</body>
</html>
<!-- end document-->
