<!DOCTYPE html>
<html lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Past Records</title>

    <% include partials/head_css.ejs %>

    <script>
        new WOW().init();
    </script>

</head>

<body class="animsition">
<div class="page-wrapper">

    <% include partials/sidemenu.ejs %>

    <!-- PAGE CONTAINER-->
    <div class="page-container">

        <% include partials/header_nav.ejs %>

        <!-- MAIN CONTENT-->
        <div class="main-content">

            <!---- Action First End (More Functionality can be added here, if we extend this project)----->

            <!--<br>-->
            <div class="container">

                <div class="col-lg-12 col-md-12">
                    <h2 class="title-1 m-b-25 animated fadeInDown">Past Records</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-12 shadow p-3 mb-5 bg-white rounded">


                                    <div class="d-flex justify-content-center">


                                        <label for="dropdown_device"
                                               class="col-sm-1 mx-3 col-form-label">Device: </label>

                                        <div class="col-sm-3">
                                            <select id="dropdown_device" class="form-control ">
                                                <option>Home-7845854</option>
                                                <option>Office-5854256</option>
                                            </select>
                                        </div>

                                        <label for="dropdown_date"
                                               class="col-sm-1 mx-3 col-form-label">Time Period: </label>

                                        <div class="col-sm-3">
                                            <select id="dropdown_date"
                                                    class="form-control">

                                                <option>1 Week</option>
                                                <option>2 Weeks</option>
                                                <option>3 Weeks</option>
                                                <option>1 Month</option>
                                                <option>2 Months</option>
                                                <option>3 Months</option>
                                                <option>6 Months</option>
                                                <option>12 Months</option>

                                            </select>
                                        </div>


                                        <button id="button_create_case" class="mx-2 btn btn-primary">
                                            Show
                                        </button>

                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="au-card m-b-30">
                                <div class="au-card-inner">
                                    <h3 class="title-2 m-b-40">Past Usage</h3>
                                    <canvas id="pastRecordsChart"></canvas>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
        <!-- END MAIN CONTENT-->

    </div>

    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
</div>

<% include partials/js_bottom.ejs %>

<!-- Main JS-->
<!--<script src="../public/js/main.js"></script>-->
<!--Graphs Updater  -->
<script src="past_records.js"></script>

</body>
</html>
<!-- end document-->
