<!DOCTYPE html>
<html lang="en">

<!--suppress HtmlRequiredTitleElement -->
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Help and Support</title>

    <% include partials/head_css.ejs %>

    <script>
        new WOW().init();
    </script>

</head>

<body class="animsition">
<div class="page-wrapper">

    <% include partials/sidemenu.ejs %>

    <!-- PAGE CONTAINER-->
    <div class="page-container">

        <% include partials/header_nav.ejs %>

        <!-- MAIN CONTENT-->
        <div class="main-content">

            <!---- Action First End (More Functionality can be added here, if we extend this project)----->

            <!--<br>-->
            <div class="container">

                <div class="col-lg-12 col-md-12">
                    <h2 class="title-1 m-b-25 animated fadeInDown">Help and Support </h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-lg-12 shadow p-3 mb-5 bg-white rounded">


                                    <div class="mx-2" id="form_case_support">

                                        <div class="form-group row">
                                            <label for="dropdown_case_category"
                                                   class="col-sm-2 col-form-label col-form-label-sm">Category: </label>

                                            <div class="col-sm-3">
                                                <select id="dropdown_case_category"
                                                        class="form-control form-control-sm">
                                                    <option value="billing">Billing Support</option>
                                                    <option value="account">Account Issues</option>
                                                    <option value="upgrade">Upgrade Issue</option>
                                                    <option value="new_conn">New Connection Query</option>
                                                    <option value="remove_conn">Remove Existing Connection</option>
                                                    <option value="other">Other Issues</option>
                                                </select>

                                            </div>

                                            <div class="col-sm-3">
                                                <input type="text" id="input_other_case_category"
                                                       class="form-control form-control-sm"
                                                       placeholder="Other" disabled>
                                            </div>

                                        </div>


                                        <div class="form-group row">
                                            <label for="dropdown_case_severity"
                                                   class="col-sm-2 col-form-label col-form-label-sm">Severity: </label>
                                            <div class="col-sm-6">

                                                <select id="dropdown_case_severity"
                                                        class="form-control form-control-sm">
                                                    <option value="low">Low</option>
                                                    <option value="normal">Normal</option>
                                                    <option value="high">High</option>
                                                    <option value="critical">Critical</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row ">
                                            <label for="input_case_subject"
                                                   class="col-sm-2 col-form-label col-form-label-sm">Subject: </label>
                                            <div class="col-sm-6">
                                                <input type="text" id="input_case_subject"
                                                       class="form-control form-control-sm"
                                                       placeholder="Brief summary of the issue">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="input_textarea_description"
                                                   class="col-sm-2 col-form-label col-form-label-sm">Description:
                                            </label>
                                            <div class="col-sm-6">
                                                <textarea id="input_textarea_description"
                                                          class="form-control border-invalid form-control-sm" rows="5"
                                                          placeholder="Detailed account of the issue"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="input_case_file_attachment"
                                                   class="col-sm-2 col-form-label col-form-label-sm">Attachments:
                                            </label>
                                            <div class="col-sm-6">
                                                <form id="form_attachment" enctype="multipart/form-data">
                                                    <input class="form-control-sm" type="file"
                                                           id="input_case_file_attachment"
                                                           name="student_image">
                                                </form>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="dropdown_case_contact_language"
                                                   class="col-sm-2 col-form-label col-form-label-sm">Support Language:
                                            </label>
                                            <div class="col-sm-6">

                                                <select id="dropdown_case_contact_language"
                                                        class="form-control form-control-sm">
                                                    <option value="english">English</option>
                                                    <option value="hindi">हिंदी</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label for="dropdown_case_contact_language"
                                                   class="col-sm-2 col-form-label col-form-label-sm">Contact Method:
                                            </label>


                                            <div class="card mx-3 col-sm-4 text-center"
                                                 id="card_email">
                                                <div class="card-header">Email</div>

                                                <div class="mx-3 card-body">
                                                    <h6 class="card-subtitle mb-2">We will use email
                                                        communication.</h6>
                                                    <input type="email" id="input_email"
                                                           class="form-control form-control-sm  display-none"
                                                           placeholder="Email address">
                                                </div>
                                            </div>

                                            <div class="card mx-3 col-sm-4 text-center" id="card_mobile">
                                                <div class="card-header">Mobile</div>

                                                <div class="mx-3 card-body">
                                                    <h6 class="card-subtitle mb-2">We will call you at your
                                                        number.</h6>
                                                    <input type="text" id="input_mobile"
                                                           class="form-control form-control-sm display-none"
                                                           oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                                           onKeyDown="if(this.value.length===10 && event.keyCode!==8) return false;"
                                                           placeholder="Mobile no.">
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group d-flex justify-content-center">
                                            <button id="button_create_case" class=" btn btn-primary">
                                                Create Case
                                            </button>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <% include partials/copyright.ejs %>
            </div>
        </div>
        <!-- END MAIN CONTENT-->

    </div>
    <!-- END PAGE CONTAINER-->


</div>

<% include partials/js_bottom.ejs %>

<!-- Main JS-->
<!--<script src="../public/js/main.js"></script>-->
<!--Graphs Updater  -->
<script src="support.js"></script>

</body>
</html>
<!-- end document-->
