.status-updating {
    background: yellow;
    color: red
}


.status-working {
    background: green;
    color: white;
}

.alarm-alert {
    background: red;
    color: white
}

.alarm-ok {
    background: green;
    color: white;
}

.alarm-insufficent {
    background: yellow;
    color: red
}
